.v_nav_container {
  border-right: 5px solid white;
  display: flex;
  flex-direction: column;
  background-color: #183650;
  height: calc(100vh - 4rem);
  width: 10%;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
}

.dashboard,
.matchs,
.ideas,
.projects {
  padding: 40px 0px;
  color: white;
}

.linkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dashboard,
.matchs,
.ideas,
.projects p {
  color: white;
}
